* {
    background-color: black;
    color: white;
}

.page {
    max-width: 30rem;
    margin: auto;
}

/* -----------------BUTTON*/
button {
    border: 2px solid #fff;
    font-family: DVLP;
    font-size: 1.8rem;
    line-height: 1.5;
    text-decoration: none;
    text-align: center;
    width: 100%;
    background: none;
    padding: 10px;
}

button:hover {
    color: #3dae2b;
    border: 2px solid #3dae2b;
}

button:focus {
    outline: none;
}

.noneLeft {
    font-family: DVLP;
    color: #3dae2b;
    height: 2.7rem;
    line-height: 2.7rem;
}

/* -----------------INPUT*/
label {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

input {
    border: 2px solid #fff;
    padding: 1rem;
    margin-bottom: 0.5rem;
}

input:focus {
    outline: none;
}

/* -----------------TABLE*/
table {
    border-collapse: collapse;
    margin: auto;
}

table td {
    border: 1px solid white;
    width: 8.1rem;
    text-align: center;
}

table tr:first-child td {
    border-top: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:last-child {
    border-right: 0;
}

table button {
    margin: 2px;
    font-size: 1rem;
}