@font-face {
  font-family: "DVLP";
  src: local("DVLP"), url(./fonts/DVLPOCR.b49368a9.otf) format("opentype");
}

@font-face {
  font-family: "TSTAR";
  src: local("TSTAR"),
    url(./fonts/TSTAR-PRO-Regular.92358a49.otf) format("opentype");
}

* {
  font-size: 20px;
}

body {
  font-family: TSTAR;
}

h1,
h2,
h3 {
  font-family: DVLP;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.1rem;
}
