header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  margin: 0 1rem;
}

.btn-simple {
  color: white;
  height: 2.5rem;
  width: 7rem;
  font-size: 1rem;
}
